body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	width: 100%;
	padding: 0;
	border: none;
	background-color: #eee;
	font-weight: 300;
}
#app {

	margin: auto;
	width: 80%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}


#select-btn{display:flex;
	height: 50px;
	width: 40px;
	justify-content: center;
	align-items: center;
	border:1px solid whitesmoke;
	box-shadow:2px 0px 0px rgba(40,45,0,.19), 0 0px 6px rgba(0,0,0,0.23) ;
	background-color: whitesmoke;
	margin-left: 28px;
	color:  rgb(165, 82, 82);
	
}
#select-btn:hover{

	color:rgb(150, 61, 61);

}
#todo-input{
	width: 260px;
	border: 1px solid whitesmoke;
	height: 100%;
	background-color:whitesmoke;
	box-shadow:2px 0px 0px rgba(40,45,0,.19), 0 0px 6px rgba(0,0,0,0.23) ;
	padding-left: 10px;
	font-size: 15px;
	
	
}
#inputContainer {
	display: flex;
	margin-top: 2rem;
	margin-bottom: 0rem;
	margin-left: 0.2rem;
	
}
#todo{
  font-size:100px; 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:rgba(175, 47, 47, 0.15);
}
#enter-btn {
	/*width: 10%;*/
	display: flex;
	align-items: center;
	padding: 5px;
	border: 1px solid whitesmoke;
	cursor: pointer;
	background-color: white;
	box-shadow:2px 0px 0px rgba(40,45,0,.19), 0 0px 6px rgba(0,0,0,0.23) ;
	visibility: visible;
	
}
#enter-btn:hover {
color:rgb(150, 61, 61);
}
#enter-btn:focus{
outline: none;
}
.child-container{
	display: flex;
	flex-direction: row;
	padding-left: 1px;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	width:260px ;
	border:2px solid black;
	margin-top: 10px;
	padding-left: 5px;
	margin-left: 40px;
}
#deletebtn{
	display: flex;
	float:right;
	
	height: 45px;
	width: 10%;
		border:1px solid whitesmoke;
		align-items: center;
		justify-content: center;
		background-color: whitesmoke;
		color: rgba(175, 47, 47);
	}
	#countContainer{
		display: flex;
		padding-left: 1px;
	align-items: center;
	justify-content: center;
	height: 20px;
	width:260px ;
	border:2px solid black;
	margin-top: 10px;
	align-items: center;
	justify-content: space-between;
	padding-left: 5px;
	margin-left: 40px;
	
	}
	#clear_all{
		display: flex;
		padding-right: 5px;

		
	}

